---
layout: default
title: Home
cover: false
---

{% include header.html %}

<main id="content" class="content" role="main">
	<article class="post">
		<p>
			I work as a .NET web developer, but am also well-versed in Java, ElasicSearch, Hadoop and JavaScript, amongst others. I am also very passionate about astronomy and genealogy when not thinking about coding. 
		</p>
	</article>
    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post narrow">
        <header class="post-header">
            <h2 class="post-title list"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <section class="post-meta">
                <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                {% if post.categories.size > 0 %}
                    {{ post.categories | array_to_sentence_string | prepend: 'Posted in ' }}
                {% endif %}
            </section>			
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
    </article>

    {% endfor %}

    {% include pagination.html %}
</main>