---
layout: default
title: Home
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="back-button" href="{{ site.baseurl }}">Home</a>
		<a class="general-button" href="{{ site.baseurl }}about.html">About</a>
		<a class="general-button" href="{{ site.baseurl }}projects.html">Projects</a>
		<a class="general-button" href="{{ site.baseurl }}astronomy.html">Astronomy</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
	<div class="main-header-content inner">
		<h1 class="page-title">{{ site.name }}</h1>
		<h2 class="page-description">
			{% if site.description %} {{ site.description }}. {% endif %}
		</h2>
	</div>
</header>


<main id="content" class="content" role="main">
	<article class="post">
		<p>
			I'm a software developer, working as a .NET web development. I am also well-versed in Java, ElasicSearch, Hadoop and JavaScript, amongst others. I am also very passionate about astronomy and genealogy when not thinking about coding. 
		</p>
	</article>
    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post narrow">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}
</main>
