<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
		<div class="nav-container">
			<a class="back-button" href="{{ site.baseurl }}">Blog</a>
			<a class="general-button" href="{{ site.baseurl }}about.html">About</a>
			<a class="general-button" href="{{ site.baseurl }}projects.html">Projects</a>
			<a class="general-button" href="{{ site.baseurl }}tutorials.html">Tutorials</a>
			<a class="general-button" href="{{ site.baseurl }}astronomy.html">Astronomy</a>
			<a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
		</div>
    </nav>
	<div class="main-header-content inner">
		<h1 class="page-title">{{ site.name }}</h1>
		<h2 class="page-description">
			{% if site.description %} {{ site.description }}. {% endif %}
		</h2>
	</div>	
</header>