<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
		<div class="nav-container">
			<a class="back-button" href="https://sjmeunier.github.io/">Blog</a>
			<a class="general-button" href="https://sjmeunier.github.io/about.html">About</a>
			<a class="general-button" href="https://sjmeunier.github.io/projects.html">Projects</a>
			<a class="general-button" href="https://sjmeunier.github.io/tutorials.html">Tutorials</a>
			<a class="general-button" href="https://sjmeunier.github.io/astronomy.html">Astronomy</a>
			<a class="general-button" href="https://sjmeunier.github.io/the-whisky-diaries.html">Whisky</a>
			<a class="subscribe-button icon-feed" href="https://sjmeunier.github.io/feed.xml">Subscribe</a>
		</div>
    </nav>
	<div class="main-header-content inner">
		<h1 class="page-title"><a href="https://sjmeunier.github.io/">{{ site.name }}</a></h1>
		<h2 class="page-description">
			{% if site.description %} {{ site.description }}. {% endif %}
		</h2>
		<div class="search"><input type="input" id="searchField" placeholder="Search..."></input><img class="searchImg" id="searchButton" src="/assets/images/searchicon.png"/></div>
	</div>	
</header>
