<h3>Tag Cloud</h3>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
	{% assign fontsize = tag | last | size  |  times: 1.2 | plus: 70 %}
	{% if fontsize > 150 %}
		{% assign fontsize = 150 %}
	{% endif %}
	 <span class="site-tag">
		<a href="/tag/{{ tag | first | slugify }}/"
			style="font-size: {{ fontsize  }}%">
				{{ tag[0] | replace:'c-sharp', 'C&#35;' | replace:'-', ' ' | capitalize | replace: 'Jquery', 'jQuery' }} ({{ tag | last | size }})
		</a>
	</span>
{% endfor %}