---
layout: default
post_class: post-template page-template
about: 'about.html'
astronomy: 'astronomy,html'
projects: 'projects.html'
---

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <a class="general-button" href="{{ site.baseurl }}{{ page.about }}">About</a>
    <a class="general-button" href="{{ site.baseurl }}{{ page.projects }}">Projects</a>
    <a class="general-button" href="{{ site.baseurl }}{{ page.astronomy }}">Astronomy</a>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
	<div class="main-header-content inner">
		<h1 class="page-title">{{ site.name }}</h1>
		<h2 class="page-description">
			{% if site.description %} {{ site.description }}. {% endif %}
		</h2>
	</div>	
</nav>


<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> 

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
