---
layout: default
disqus: true
archive: false
post_class: post-template
---

{% assign post = page %}
  {% if post.tags.size > 0 %}
    {% capture tags_content %} with <span class="icon-price-tags"></span>: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}"><em>{{ tag.name }}</em></a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign tags_content = '' %}
  {% endif %}
  
  
{% include header.html %}

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h2 class="post-title">{{ page.title }}</h2>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
				{{ page.categories | array_to_sentence_string | prepend: 'Posted in ' }}{{ tags_content }}
            </section>
        </header>
        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        
        <section class="tagcloud">
        	{% include tagcloud.html %}
        <section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        I work as a .NET web developer, but am also well-versed in Java, ElasicSearch, Hadoop and JavaScript, amongst others. I am also very passionate about astronomy and genealogy when not thinking about coding.
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>