---
layout: default
post_class: post-template page-template
---

{% include header.html %}

<main class="content" role="main">
    <article class="post">
        <h1 class="post-title">Articles by tag: {{ page.name }}</h1>

        <section class="post-content">
			<div>
			  {% if site.tags[page.slug] %}
				{% for post in site.tags[page.slug] %}
				  {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
				  {% if forloop.first %}
					<h3>{{ post_year }}</h3>
					<div class="list-group"><ul>
				  {% endif %}
				  {% unless forloop.first %}
					{% assign previous_index = forloop.index0 | minus: 1 %}
					{% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
					{% if post_year != previous_post_year %}
					  <ul></div>
					  <h3>{{ post_year }}</h3>
					  <div class="list-group"><ul>
					{% endif %}
				  {% endunless %}
				  <li><a href="{{ post.url }}" class="post-link">
					{{ post.title }}
				  </a></li>
				  {% if forloop.last %}
					<ul></div>
				  {% endif %}
				{% endfor %}
			  {% else %}
				<p>There are no posts in this tag.</p>
			  {% endif %}
			</div>
        </section>

    </article>

</main>
